<!--
  Generated template for the FilmsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>films</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list >
    <ion-item *ngFor="let film of myUser" (click)="openDetails(film)" >
         <h2>{{film .title }}</h2>
        
   </ion-item>
</ion-list>

<!-- <h1>hii</h1> -->

  <!-- <button ion-button full (click)="openDetails()">Go to Details</button>
    <button ion-button full (click)="goToPlanets()">Switch to Planets</button> -->

  <!-- <ion-list>
    <button ion-item *ngFor="let film of (films | async)?.results" (click)="openDetails(film) ">
      {{ film.title }}
    </button>
  </ion-list> -->

</ion-content>