<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  {{ myVar }}

  <button ion-button color="light" outline (click)="updateMyVal()">Light Outline</button>

</ion-content>
